.icon-example--monotone {
	.iconify {
		color: palette('gray', 600);
		transition: color 0.2s ease;
		animation: icon-example-palette 10s infinite;
	}
	&:hover {
		.iconify {
			color: palette($link-hover-palette, $link-shade);
			animation: none;
		}
	}
}

@keyframes icon-example-palette {
	0% {
		color: palette('blue', 600);
	}
	25% {
		color: palette('green', 600);
	}
	50% {
		color: palette('cyan', 600);
	}
	75% {
		color: palette('purple', 600);
	}
	100% {
		color: palette('blue', 600);
	}
}
