<dl class="visual-block visual-block--bundle">
	<dt>
		<p>JSON</p>
		<span class="iconify bundle-bg" data-icon="assets:bundle-bg" data-height="auto"></span>
		<div class="demo-icons">
			<span class="iconify" data-icon="line-md:home-twotone-alt"></span>
			<span class="iconify" data-icon="line-md:chevron-small-double-left"></span>
			<span class="iconify" data-icon="line-md:github"></span>
			<span class="iconify white-fill" data-icon="line-md:cloud-twotone"></span>
			<span class="iconify" data-icon="line-md:document-code"></span>
			<span class="iconify" data-icon="line-md:document-list"></span>
			<span class="iconify" data-icon="line-md:alert"></span>
			<span class="iconify white-fill" data-icon="line-md:cloud-down-twotone"></span>
			<span class="iconify" data-icon="line-md:image-twotone"></span>
			<span class="iconify" data-icon="line-md:hash-small"></span>
			<span class="iconify white-fill" data-icon="line-md:computer-twotone"></span>
		</div>
	</dt>
	<dd>
		<p>What is an icon bundle?</p>
		<p>Icon bundle is a simple <a href="/types/iconify-json.md">JSON object</a> that contains data for multiple icons from the same icon set, bundled together.</p>
		<p>Storing multiple icons in one file makes it easy to store data without overhead.</p>
	</dd>
</div>
