footer {
	padding: $base-spacing-unit 0;
	margin: ($base-spacing-unit * 6) 0 0;
	color: rgba(palette('gray', 0), 0.5);
	min-height: $logo-height;
	//border-top: 2px solid palette($body-palette, 200);

	@include all-themes(background-color, 'background');

	.page-width {
		@include clearfix();
	}

	.website-docs & {
		a {
			//color: palette('gray', $link-shade);
			color: palette('gray', 0);
			opacity: 0.75;
			&:hover {
				//color: palette($link-hover-palette, $link-hover-shade);
				color: palette('gray', 0);
				opacity: 1;
			}
		}
	}

	.iconify {
		display: inline-block;
		width: 1em;
	}

	.footer-left-side {
		list-style: none;
		float: left;
		margin: 0;
		padding: 0;
		margin-left: (0 - $base-spacing-unit * 2);
		li {
			float: left;
			margin: $base-spacing-unit;
			padding: 0;
			font-size: 24px;
			line-height: 1em;
			height: 1em;
			a {
			}
		}
	}

	.footer-right-side {
		list-style: none;
		float: right;
		margin: 0;
		margin-right: (0 - $base-spacing-unit * 2);
		padding: 0;

		.website-docs {
			//color: palette('gray', 500);
			color: palette('gray', 0);
			opacity: 0.75;
		}
		li {
			float: right;
			margin: ($base-spacing-unit) ($base-spacing-unit * 2);
			padding: 0;
		}
	}
}
