.hljs-comment,
.hljs-quote {
	color: palette('gray', 300);
	font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
	font-weight: $font-weight-bold;
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
	color: palette('teal', 600);
}

.hljs-string,
.hljs-doctag {
	color: palette('red', 600);
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
	color: palette('red', 700);
	// font-weight: $font-weight-bold;
}

.hljs-subst {
	font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
	color: palette('blue', 700);
	font-weight: $font-weight-bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute,
.hljs-function,
.hljs-class {
	color: palette('indigo', 700);
	font-weight: normal;
}

.hljs-regexp,
.hljs-link {
	color: palette('green', 600);
}

.hljs-symbol,
.hljs-bullet {
	color: palette('purple', 600);
}

.hljs-built_in,
.hljs-builtin-name {
	color: palette('light-blue', 600);
}

.hljs-meta {
	color: palette('gray', 400);
	font-weight: $font-weight-bold;
}

.hljs-deletion {
	background: palette('red', 100);
}

.hljs-addition {
	background: palette('green', 100);
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: $font-weight-bold;
}

.hljs-inline-icon {
	color: palette('deep-orange', 500);
}

.hljs-inline-package {
	color: palette('indigo', 650);
}

.hljs-inline-tag {
	color: palette('cyan', 600);
}

.hljs-inline-type {
	color: palette('blue', 650);
}

.hljs-inline-attr {
	color: palette('green', 600);
}

.hljs-inline-prop {
	color: palette('green', 600);
}

.hljs-inline-file,
.hljs-inline-link {
	color: mix(palette('blue', 600), palette('blue-gray', 650));
}

.hljs-inline-link {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.hljs-inline-var {
	color: palette('light-blue', 550);
}
