.logo-outline {
	opacity: 0;
}

.logo-outline.logo-letter-s1,
.logo-outline.logo-letter-s2 {
	opacity: 1;
}

@supports (animation: foo 1s) and (not (-ms-ime-align: auto)) and
	(not (overflow: -webkit-marquee)) {
	.logo-outline {
		opacity: 1;
	}

	@keyframes logo-fill {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes logo-460r {
		from {
			stroke-dashoffset: 460px;
		}
		to {
			stroke-dashoffset: 920px;
		}
	}

	@keyframes logo-300 {
		from {
			stroke-dashoffset: 300px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-460 {
		from {
			stroke-dashoffset: 460px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-300r {
		from {
			stroke-dashoffset: 300px;
		}
		to {
			stroke-dashoffset: 600px;
		}
	}

	@keyframes logo-420r {
		from {
			stroke-dashoffset: 420px;
		}
		to {
			stroke-dashoffset: 840px;
		}
	}

	@keyframes logo-320r {
		from {
			stroke-dashoffset: 320px;
		}
		to {
			stroke-dashoffset: 640px;
		}
	}

	@keyframes logo-320 {
		from {
			stroke-dashoffset: 320px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-390r {
		from {
			stroke-dashoffset: 390px;
		}
		to {
			stroke-dashoffset: 780px;
		}
	}

	@keyframes logo-430r {
		from {
			stroke-dashoffset: 430px;
		}
		to {
			stroke-dashoffset: 860px;
		}
	}

	@keyframes logo-280 {
		from {
			stroke-dashoffset: 280px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-310 {
		from {
			stroke-dashoffset: 310px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-570 {
		from {
			stroke-dashoffset: 570px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-690 {
		from {
			stroke-dashoffset: 690px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-530 {
		from {
			stroke-dashoffset: 530px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-140 {
		from {
			stroke-dashoffset: 140px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-560 {
		from {
			stroke-dashoffset: 560px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-120 {
		from {
			stroke-dashoffset: 120px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-400r {
		from {
			stroke-dashoffset: 400px;
		}
		to {
			stroke-dashoffset: 800px;
		}
	}

	@keyframes logo-430 {
		from {
			stroke-dashoffset: 430px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-170 {
		from {
			stroke-dashoffset: 170px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-490 {
		from {
			stroke-dashoffset: 490px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	@keyframes logo-580 {
		from {
			stroke-dashoffset: 580px;
		}
		to {
			stroke-dashoffset: 0px;
		}
	}

	.logo-outline.logo-letter-s1.logo-shape-0 {
		stroke-dashoffset: 460px;
		stroke-dasharray: 460px;
		animation: logo-460r 0.6s ease 0.25s forwards;
	}
	.logo-outline.logo-letter-s1.logo-shape-1 {
		stroke-dashoffset: 300px;
		stroke-dasharray: 300px;
		animation: logo-300 0.6s ease 0.35s forwards;
	}
	.logo-outline.logo-letter-s1.logo-shape-2 {
		stroke-dashoffset: 460px;
		stroke-dasharray: 460px;
		animation: logo-460 0.6s ease 0.55s forwards;
	}
	.logo-outline.logo-letter-s1.logo-shape-3 {
		stroke-dashoffset: 300px;
		stroke-dasharray: 300px;
		animation: logo-300r 0.6s ease 0.65s forwards;
	}
	.logo-outline.logo-letter-i.logo-shape-0 {
		stroke-dashoffset: 420px;
		stroke-dasharray: 420px;
		animation: logo-420r 0.45s ease 0.9s forwards,
			logo-fade 0.75s ease 3.95s forwards;
	}
	.logo-outline.logo-letter-m.logo-shape-0 {
		stroke-dashoffset: 320px;
		stroke-dasharray: 320px;
		animation: logo-320r 0.6s ease 0.9s forwards,
			logo-fade 0.75s ease 4.05s forwards;
	}
	.logo-outline.logo-letter-m.logo-shape-1 {
		stroke-dashoffset: 320px;
		stroke-dasharray: 320px;
		animation: logo-320 0.6s ease 1s forwards,
			logo-fade 0.75s ease 4.05s forwards;
	}
	.logo-outline.logo-letter-m.logo-shape-2 {
		stroke-dashoffset: 390px;
		stroke-dasharray: 390px;
		animation: logo-390r 0.45s ease 1.25s forwards,
			logo-fade 0.75s ease 4.05s forwards;
	}
	.logo-outline.logo-letter-m.logo-shape-3 {
		stroke-dashoffset: 390px;
		stroke-dasharray: 390px;
		animation: logo-390r 0.45s ease 1.35s forwards,
			logo-fade 0.75s ease 4.05s forwards;
	}
	.logo-outline.logo-letter-p.logo-shape-0 {
		stroke-dashoffset: 430px;
		stroke-dasharray: 430px;
		animation: logo-430r 0.6s ease 1.6s forwards,
			logo-fade 0.75s ease 4.15s forwards;
	}
	.logo-outline.logo-letter-p.logo-shape-1 {
		stroke-dashoffset: 280px;
		stroke-dasharray: 280px;
		animation: logo-280 0.6s ease 1.7s forwards,
			logo-fade 0.75s ease 4.15s forwards;
	}
	.logo-outline.logo-letter-p.logo-shape-2 {
		stroke-dashoffset: 310px;
		stroke-dasharray: 310px;
		animation: logo-310 0.6s ease 1.9s forwards,
			logo-fade 0.75s ease 4.15s forwards;
	}
	.logo-outline.logo-letter-l.logo-shape-0 {
		stroke-dashoffset: 420px;
		stroke-dasharray: 420px;
		animation: logo-420r 0.45s ease 2.15s forwards,
			logo-fade 0.75s ease 4.3s forwards;
	}
	.logo-outline.logo-letter-e.logo-shape-0 {
		stroke-dashoffset: 460px;
		stroke-dasharray: 460px;
		animation: logo-460r 0.6s ease 2.25s forwards,
			logo-fade 0.75s ease 4.4s forwards;
	}
	.logo-outline.logo-letter-e.logo-shape-1 {
		stroke-dashoffset: 300px;
		stroke-dasharray: 300px;
		animation: logo-300 0.6s ease 2.35s forwards,
			logo-fade 0.75s ease 4.4s forwards;
	}
	.logo-outline.logo-letter-e.logo-shape-2 {
		stroke-dashoffset: 320px;
		stroke-dasharray: 320px;
		animation: logo-320 0.6s ease 2.6s forwards,
			logo-fade 0.75s ease 4.4s forwards;
	}
	.logo-outline.logo-letter-s2.logo-shape-0 {
		stroke-dashoffset: 300px;
		stroke-dasharray: 300px;
		animation: logo-300r 0.6s ease 2.8s forwards;
	}
	.logo-outline.logo-letter-s2.logo-shape-1 {
		stroke-dashoffset: 460px;
		stroke-dasharray: 460px;
		animation: logo-460 0.6s ease 2.95s forwards;
	}
	.logo-outline.logo-letter-s2.logo-shape-2 {
		stroke-dashoffset: 300px;
		stroke-dasharray: 300px;
		animation: logo-300 0.6s ease 3.15s forwards;
	}
	.logo-outline.logo-letter-s2.logo-shape-3 {
		stroke-dashoffset: 460px;
		stroke-dasharray: 460px;
		animation: logo-460r 0.6s ease 3.25s forwards;
	}
	.logo-outline.logo-letter-v.logo-shape-0 {
		stroke-dashoffset: 570px;
		stroke-dasharray: 570px;
		animation: logo-570 0.6s ease 3.5s forwards,
			logo-fade 0.75s ease 4.75s forwards;
	}
	.logo-outline.logo-letter-v.logo-shape-1 {
		stroke-dashoffset: 570px;
		stroke-dasharray: 570px;
		animation: logo-570 0.6s ease 3.6s forwards,
			logo-fade 0.75s ease 4.75s forwards;
	}
	.logo-outline.logo-letter-g.logo-shape-0 {
		stroke-dashoffset: 690px;
		stroke-dasharray: 690px;
		animation: logo-690 0.6s ease 3.85s forwards;
	}
	.logo-outline.logo-letter-g.logo-shape-1 {
		stroke-dashoffset: 530px;
		stroke-dasharray: 530px;
		animation: logo-530 0.6s ease 3.95s forwards;
	}
	.logo-outline.logo-letter-g.logo-shape-2 {
		stroke-dashoffset: 140px;
		stroke-dasharray: 140px;
		animation: logo-140 0.3s ease 4.15s forwards,
			logo-fade 0.75s ease 4.85s forwards;
	}
	.logo-outline.logo-letter-g.logo-shape-3 {
		stroke-dashoffset: 140px;
		stroke-dasharray: 140px;
		animation: logo-140 0.3s ease 4.3s forwards,
			logo-fade 0.75s ease 4.85s forwards;
	}
	.logo-text.logo-letter-s1.logo-shape-0 {
		stroke-dashoffset: 560px;
		stroke-dasharray: 560px;
		animation: logo-560 0.75s ease 2.7s forwards;
	}
	.logo-text.logo-letter-i.logo-shape-0 {
		stroke-dashoffset: 120px;
		stroke-dasharray: 120px;
		animation: logo-120 0.15s ease 2.95s forwards;
	}
	.logo-text.logo-letter-i.logo-shape-1 {
		opacity: 0;
		animation: logo-fill 0.3s ease 2.95s forwards;
	}
	.logo-text.logo-letter-m.logo-shape-0 {
		stroke-dashoffset: 400px;
		stroke-dasharray: 400px;
		animation: logo-400r 0.6s ease 3.15s forwards;
	}
	.logo-text.logo-letter-p.logo-shape-0 {
		stroke-dashoffset: 430px;
		stroke-dasharray: 430px;
		animation: logo-430 0.6s ease 3.4s forwards;
	}
	.logo-text.logo-letter-l.logo-shape-0 {
		stroke-dashoffset: 170px;
		stroke-dasharray: 170px;
		animation: logo-170 0.3s ease 3.6s forwards;
	}
	.logo-text.logo-letter-e.logo-shape-0 {
		stroke-dashoffset: 320px;
		stroke-dasharray: 320px;
		animation: logo-320 0.45s ease 3.85s forwards;
	}
	.logo-text.logo-letter-s2.logo-shape-0 {
		stroke-dashoffset: 560px;
		stroke-dasharray: 560px;
		animation: logo-560 0.75s ease 4.3s forwards;
	}
	.logo-text.logo-letter-v.logo-shape-0 {
		stroke-dashoffset: 490px;
		stroke-dasharray: 490px;
		animation: logo-490 0.6s ease 4.5s forwards;
	}
	.logo-text.logo-letter-g.logo-shape-0 {
		stroke-dashoffset: 580px;
		stroke-dasharray: 580px;
		animation: logo-580 0.75s ease 4.75s forwards;
	}

	@keyframes logo-fade {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}
