.page-content {
	.crumbs {
		display: block;
		margin: 0 0 ($base-spacing-unit * 2);
		//padding: 0 0 0 ($base-spacing-unit);
		color: palette('gray', 400);
		//border-left: 2px solid palette('gray', 300);

		+ h1 {
			margin-top: ($base-spacing-unit * 2);
		}

		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}

		.iconify {
			display: inline-block;
			width: 1em;
			vertical-align: -0.17em !important;
		}

		.back {
			float: left;
			text-align: left;
			margin-top: ($base-spacing-unit * 2);
			a {
			}
		}
		.prev-next {
			float: right;
			text-align: right;
			margin-top: ($base-spacing-unit * 2);
			.separator {
				margin: 0 2px;
			}
		}

		@include clearfix-after();
	}

	> h1 {
		margin: ($base-spacing-unit * 4) 0 ($base-spacing-unit * 2);
		padding: 0;
		font-size: 28px;
		line-height: 42px;
		font-weight: normal;
		color: palette($link-palette, $link-shade);
	}
}

div.important,
p.important {
	position: relative;
	background: palette('yellow', 150);
	color: palette('yellow', 1000);
	margin: ($base-spacing-unit * 2) 0;
	padding: $base-spacing-unit ($base-spacing-unit * 2);
	border-radius: 5px;
	&.warning {
		background: palette('red', 600);
		color: palette('red', 0);
		a {
			color: inherit !important;
			text-decoration: underline;
		}
	}
	&.with-icon {
		padding-left: ($base-spacing-unit * 6);
		min-height: 2em;
		.icon {
			position: absolute;
			left: ($base-spacing-unit * 1.5);
			top: 50%;
			font-size: 24px;
			line-height: 1em;
			margin-top: -0.5em;
		}
	}
}

// Links
.simple-links {
	a {
		color: inherit;
		text-decoration: none;
	}
	a:hover {
		color: palette($link-hover-palette, $link-hover-shade);
		text-decoration: underline;
	}
}

// Icons
.inline-icon-24 {
	font-size: 24px;
	line-height: 1em;
	vertical-align: -0.25em !important;
}

// Screenshots
.resize-images {
	img {
		display: block;
		margin: ($base-spacing-unit * 2) auto;
		max-width: 100%;
	}
}
