.docs {
	// Heading
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: ($base-spacing-unit * 2) 0;
		padding: 0;
		font-size: 18px;
		line-height: 28px;
		font-weight: normal;
		color: palette('gray', $link-shade);
	}

	h1 {
		margin-top: ($base-spacing-unit * 4);
		font-size: 28px;
		line-height: 42px;
		color: palette($link-palette, $link-shade);
	}

	h2 {
		margin-top: ($base-spacing-unit * 3);
		font-size: 24px;
		line-height: 36px;
		color: palette('green', $link-shade);
	}

	h3 {
		font-size: 22px;
		line-height: 32px;
		color: palette('purple', $link-shade);
	}

	h4 {
		font-size: 22px;
		line-height: 32px;
		color: palette('red', $link-shade);
	}

	// Link inside heading
	.link-back {
		display: none;
		float: right;
		width: 32px;
		margin: 0;
		padding: 0 0 0 8px;
		text-align: center;
		text-decoration: none;
		color: $text-muted-color;
		svg {
			font-size: 16px;
		}
	}
	h2,
	h3,
	h4,
	h5,
	h6 {
		&:hover {
			.link-back {
				display: block;
				&:hover {
					color: palette($link-hover-palette, $link-hover-shade);
				}
			}
		}
	}

	// Alert
	p.notice,
	p.alert {
		background: palette('yellow', 150);
		color: palette('yellow', 1000);
		margin: ($base-spacing-unit * 2) 0;
		padding: $base-spacing-unit ($base-spacing-unit * 2);
		border-radius: 5px;
	}
	p.alert {
		background: palette('red', 600);
		color: palette('red', 0);
	}

	// Code
	.block-code {
		display: block;
		margin: 4px 0;
		padding: 2px 8px;

		font: inherit;
		word-wrap: break-word;

		background: $input-background-color;
		color: $input-color;
		border: 2px solid $input-border-color;
		border-radius: $input-border-radius;

		@media (max-width: $mq-medium) {
			font-size: 14px;
			line-height: 20px;
		}

		&:hover {
			border-color: $input-border-hover-color;
		}

		code {
			font: inherit;
		}
	}

	// Code section
	p.code-section {
		margin: 8px 16px -6px;
		// margin: 8px 16px -10px;
		color: $text-muted-color;
		span {
			display: inline-block;
			padding: 2px 8px 0;
			background: $input-background-color;
			border: 2px solid $input-border-color;
			border-bottom-width: 0;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			// border-radius: 5px;
		}
	}

	// Code result
	.code-demo {
		margin: 3px 1px 8px;
		border: 1px dashed $input-border-color;
		// border-radius: $input-border-radius;
		background: $input-background-color;
		padding: ($base-spacing-unit / 2) $base-spacing-unit;
	}

	// Inline code
	/*
	.inline-code {
		display: inline-block;
		margin: -1px 2px;
		padding: 0 3px;
		background: $input-background-color;
		// box-shadow: 0 0 0 1px $input-border-color;
		border: 1px dashed $input-border-color;
    }
    */

	.inline-code {
		display: inline-block;
		margin: -1px 2px;
		padding: 0 3px;
		color: $text-dimmed-color;
		background: $input-background-color;
		// box-shadow: 0 0 0 1px $input-border-color;
		border: 1px dashed $input-border-color;
	}
}
