@import './style/functions';
@import './style/palette';
@import './style/vars';
@import './style/normalize';

html,
body {
	margin: 0;
	padding: 0;
	background: palette($body-palette, $body-background-shade);
	color: $text-color;
	font: normal #{$base-font-size} / #{$base-line-height} #{$font-family};
	min-width: 320px;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
	//height: 100%;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	> div {
		-ms-flex: auto;
		-webkit-flex: auto;
		flex: auto;
	}
	#content {
		-ms-flex-grow: 1;
		-webkit-flex-grow: 1;
		flex-grow: 1;
	}
}

a {
	color: palette($link-palette, $link-shade);
	&:hover {
		color: palette($link-hover-palette, $link-hover-shade);
	}
	&.subtle {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.subtle-links {
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.simple-links {
	a {
		color: inherit;
		text-decoration: none;
		&:hover {
			color: palette($link-hover-palette, $link-hover-shade);
			text-decoration: underline;
		}
	}
}

.page-width {
	max-width: 976px;
	margin: 0 auto;
	padding: 0 $page-width-padding;
	@media (min-width: $mq-medium) {
		padding: 0 $page-width-padding-medium;
	}
}

// Headings
.subtitle {
	font-size: 28px;
	line-height: 42px;
	text-align: center;
	color: palette($link-palette, $link-shade);
	font-weight: normal;
	margin: ($base-spacing-unit * 6) ($base-spacing-unit * 2)
		($base-spacing-unit * 3);
}

// Icons placeholder
span.iconify,
iconify-icon {
	display: inline-block;
	width: 1em;
}

@import './style/common';
@import './style/footer';
@import './style/navigation';

@import './style/animated_logo';
@import './style/arty-animated';

@import './style/docs';
@import './style/hljs';
@import './style/samples';
