<p>
	Block:
	<IconifyIcon @icon='mdi:home' />
	<IconifyIcon @icon='emojione-v1:bird' style='vertical-align: 0;' />
	<IconifyIcon @icon='uim:scenery' @inline={{false}} />
</p>
<p>
	Inline:
	<IconifyIcon @icon='mdi:home' @inline={{true}} />
	<IconifyIcon @icon='emojione-v1:bird' style='vertical-align: -0.125em;' />
	<IconifyIcon @icon='uim:scenery' @inline={{true}} />
</p>