<div class="api-animation api-animation--1">
	<div class="animated-set animated-set--first animated-set--clouds">
		<span class="iconify icon1" data-icon="line-md:cloud-twotone"></span>
		<span class="iconify icon2" data-icon="line-md:cloud-twotone"></span>
		<span class="iconify icon3" data-icon="line-md:cloud-down-twotone"></span>
		<p>API</p>
	</div>
	<div class="animated-arrows">
		<span
			class="iconify animated-arrow"
			data-height="auto"
			data-icon="assets:animation-arrow"
			data-flip="horizontal"
		></span>
		<span
			class="iconify animated-arrow animated-arrow--2"
			data-height="auto"
			data-icon="assets:animation-arrow"
			data-flip="horizontal"
		></span>
		<p>Icon Data</p>
	</div>
	<div class="animated-set animated-set--second animated-set--computers">
		<span class="iconify icon1" data-icon="line-md:laptop-twotone"></span>
		<span class="iconify icon2" data-icon="line-md:computer-twotone"></span>
		<span class="iconify icon3" data-icon="line-md:laptop-twotone"></span>
		<p>Browser</p>
	</div>
</div>
