<div class="docs-process">
	<dl>
		<dt>
			<p>
				<code data-wrap="inline">mdi:home</code>
				<code data-wrap="inline">mdi:alert</code>
			</p>
		</dt>
		<dd>
			Implementation (<a href="/implementations/svg-framework/index.md"
				>SVG Framework</a
			>, <a href="/implementations/react-with-api/index.md">React with API</a>,
			etc...) has names of icons that it must render. Icon names are passed as
			parameters to components or as placeholder element's attribute.
		</dd>
	</dl>
	<dl>
		<dt data-partial="process/animation0"></dt>
		<dd>
			<p>Implementation requests data for icons from Iconify API.</p>
		</dd>
	</dl>
	<dl>
		<dt data-partial="process/animation1"></dt>
		<dd>
			<p>API sends data for requested icons.</p>
			<p>
				API hosts thousands of icons, but sends only data for icons that
				implementation has requested.
			</p>
		</dd>
	</dl>
	<dl>
		<dt>
			<code data-wrap="block">
				&lt;p&gt;<span class="hljs-string"
					>&lt;svg class="iconify iconify-inline" data-icon="mdi:home"
					style="vertical-align: -0.125em" height="1em"
					<span class="hljs-comment">...</span>&gt;<span class="hljs-comment"
						>...</span
					>&lt;/svg&gt;</span
				>
				Home&lt;/p&gt;<br />
				&lt;div class="alert"&gt;<br />
				&nbsp;
				<span class="hljs-string"
					>&lt;svg class="iconify" data-icon="mdi:alert" height="1em"
					<span class="hljs-comment">...</span>&gt;<span class="hljs-comment"
						>...</span
					>&lt;/svg&gt;</span
				>
				Important alert!<br />
				&lt;/div&gt;
			</code>
		</dt>
		<dd>
			Implementation renders SVG using data it retrieved from Iconify API.
		</dd>
	</dl>
</div>
