<p>
	<span class="iconify-inline" data-icon="mdi:material-design"></span>
	<a href="https://icon-sets.iconify.design/mdi/" target="_blank"
		>Material Design Icons</a
	>
	(over 6k icons)
</p>
<p>
	<span class="iconify-inline" data-icon="akar-icons:bootstrap-fill"></span>
	<a href="https://icon-sets.iconify.design/bi/" target="_blank"
		>Bootstrap Icons</a
	>
	(over 1.5k icons)
</p>
<p>
	<span class="iconify-inline" data-icon="carbon:carbon"></span>
	<a href="https://icon-sets.iconify.design/carbon/" target="_blank"
		>Carbon Icons</a
	>
	(over 1.5k icons)
</p>
<p>
	<span class="iconify-inline" data-icon="tabler:brand-tabler"></span>
	<a href="https://icon-sets.iconify.design/tabler/" target="_blank"
		>Tabler Icons</a
	>
	(over 1k icons)
</p>
