<p>
	<iconify-icon inline icon="noto:paintbrush"></iconify-icon>
	<a href="https://icon-sets.iconify.design/noto/" target="_blank"
		>Noto Emoji</a
	>
	(over 3k icons)
</p>
<p>
	<iconify-icon inline icon="twemoji:dizzy"></iconify-icon>
	<a href="https://icon-sets.iconify.design/twemoji/" target="_blank"
		>Twitter Emoji</a
	>
	(over 3k icons)
</p>
<p>
	<iconify-icon inline icon="openmoji:face-with-tongue"></iconify-icon>
	<a href="https://icon-sets.iconify.design/openmoji/" target="_blank"
		>OpenMoji</a
	>
	(over 3k icons)
</p>
