<p>
	<iconify-icon inline icon="mdi:material-design"></iconify-icon>
	<a href="https://icon-sets.iconify.design/mdi/" target="_blank"
		>Material Design Icons</a
	>
	(over 6k icons)
</p>
<p>
	<iconify-icon inline icon="akar-icons:bootstrap-fill"></iconify-icon>
	<a href="https://icon-sets.iconify.design/bi/" target="_blank"
		>Bootstrap Icons</a
	>
	(over 1.5k icons)
</p>
<p>
	<iconify-icon inline icon="carbon:carbon"></iconify-icon>
	<a href="https://icon-sets.iconify.design/carbon/" target="_blank"
		>Carbon Icons</a
	>
	(over 1.5k icons)
</p>
<p>
	<iconify-icon inline icon="tabler:brand-tabler"></iconify-icon>
	<a href="https://icon-sets.iconify.design/tabler/" target="_blank"
		>Tabler Icons</a
	>
	(over 1k icons)
</p>
